<mat-card>
  <mat-card-header>
    <mat-card-title>
      <form>
        <h1>
           <span *ngIf="selectedPokemon?.id; else elseBlock">
            {{selectedPokemon.name}} 
            <img [src]="selectedPokemon?.sprites">
          </span>
          <ng-template #elseBlock>Click on a Pokemon Listing!</ng-template>
        </h1>
      </form>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="mat-list-option">
        <span matLine><strong>Height: </strong> {{selectedPokemon?.height}}</span>
        <span matLine><strong>Weight: </strong> {{selectedPokemon?.weight}}</span>
        <span matLine><strong>Base Experience: </strong> {{selectedPokemon?.base_experience}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
