<mat-card>
  <mat-card-content>
    <form [formGroup]="detailsGroup" class="card-content">
      <mat-form-field>
        <h2>
          <input matInput formControlName="name" name="name" type="text" placeholder="Name of Pokemon">
        </h2>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="height" name="height" type="text" placeholder="Height of Pokemon">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="weight" name="weight" type="text" placeholder="Weight of Pokemon">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="base_experience" name="base_xp" type="text" placeholder="Pokemon's Base XP">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button color="accent" mat-raised-button (click)="resetForm()">reset</button>
  </mat-card-actions>
</mat-card>