<mat-card>
    <mat-card-header>
      <mat-card-title>
        <form>
          <h1>
           Click on a Starship Listing!
          </h1>
        </form>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item class="mat-list-option">
          <span matLine><strong>Name: </strong> {{selectedStarship?.name}}</span>
          <span matLine><strong>Model: </strong> {{selectedStarship?.model}}</span>
          <span matLine><strong>Manufacturer: </strong> {{selectedStarship?.manufacturer}}</span>
          <span matLine><strong>Length: </strong> {{selectedStarship?.length}}</span>
          <span matLine><strong>Cost : </strong> {{selectedStarship?.cost_in_credits}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  